<div class="client-form-wrapper">
  <h2>Dodaj nowe zawody:</h2>
  <form [formGroup]="contestForm" (ngSubmit)="onAddContest()">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Nazwa</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="controls.name.invalid">{{ getErrorMessage(controls.name) }}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Data</mat-label>
        <input matInput formControlName="date" [matDatepicker]="datePicker">
        <mat-datepicker #datePicker></mat-datepicker>
        <mat-datepicker-toggle [for]="datePicker" matSuffix></mat-datepicker-toggle>
        <mat-error *ngIf="controls.date.invalid">{{ getErrorMessage(controls.date) }}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Godzina rozpoczęcia</mat-label>
        <input matInput
               formControlName="startAt"
               [matTimepicker]="startTimePicker"
               matTimepickerMin="10:00"
               matTimepickerMax="22:00">
        <mat-timepicker #startTimePicker></mat-timepicker>
        <mat-timepicker-toggle [for]="startTimePicker" matSuffix></mat-timepicker-toggle>
        <mat-error *ngIf="controls.startAt.invalid">{{ getErrorMessage(controls.startAt) }}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Godzina zakończenia</mat-label>
        <input matInput
               formControlName="finishAt"
               [matTimepicker]="endTimePicker"
               matTimepickerMin="11:00"
               matTimepickerMax="23:00"
        >
        <mat-timepicker #endTimePicker></mat-timepicker>
        <mat-timepicker-toggle [for]="endTimePicker" matSuffix></mat-timepicker-toggle>
        <mat-error *ngIf="controls.finishAt.invalid">{{ getErrorMessage(controls.finishAt) }}</mat-error>
      </mat-form-field>
    </div>


    <div class="d-flex justify-content-end">
      <button *ngIf="editMode" mat-raised-button color="warn" (click)="emitCloseDialog()" type="button">Anuluj</button>
      <button mat-raised-button color="primary" class="mx-1" type="submit" [disabled]="contestForm.invalid">{{ editMode ? 'Edytuj zawody' : 'Dodaj nowe zawody' }}</button>
    </div>
    <app-alert *ngIf="errorMessage" [text]="errorMessage"></app-alert>
  </form>
</div>
