<div class="contest-content" *ngIf="contestant">
  <h2>{{ contestant.name}} {{ contestant.surname }}</h2>
  <p>Data ropoczęcia: {{ contestant.startingDate | date:'dd.MM.yyyy' }}</p>
  <p>Suma punktów: {{ contestant.score }}</p>

  <div class="buttons-spacing">
    <div *ngIf="user">
      <p>Powrót</p>
      <button mat-raised-button color="link" routerLink="/contestants">Powrót</button>
    </div>
    <div *ngIf="user">
      <p>Edytuj zawodnika</p>
      <button mat-raised-button color="primary" (click)="openEditDialog()">Edytuj</button>
    </div>
    <div *ngIf="user">
      <p>Usuń zawodnika</p>
      <button mat-raised-button color="warn" (click)="openDeleteDialog()">Usuń</button>
    </div>
  </div>
</div>
<!--  <app-contestant-table *ngIf="contest" [contestId]="contest.id"></app-contestant-table>-->
