<h1 mat-dialog-title>Czy chcesz usunąć zawodnika?</h1>
<mat-dialog-content>
  <p>Imie i nazwisko:</p>
  <p>{{ contestant.name }} {{ contestant.surname }}</p>
  <p>Data rozpoczęcia:</p>
  <p>{{ contestant.startingDate }}</p>
  <app-alert *ngIf="errorMessage"> {{ errorMessage }}</app-alert>
</mat-dialog-content>
<mat-dialog-actions>
  <button color="primary" mat-button mat-dialog-close>Anuluj</button>
  <button color="warn" mat-button (click)="onDelete()" cdkFocusInitial>Usuń</button>
</mat-dialog-actions>
