<div class="main-image">
  <p class="full-name">Polsko Japońska Strzelnica Sportowa</p>
</div>

<div class="content">
  <div class="container" id="about">
    <h3>O nas</h3>
    <div class="photo-and-description">
      <img alt="shooting-range" src="https://images.pexels.com/photos/5202418/pexels-photo-5202418.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
      <div class="description-and-addon">
        <p>
          Strzelnica to miejsce, w którym każdy – od amatorów po doświadczonych strzelców – może poczuć adrenalinę i radość z precyzyjnego strzelania.
          Nasza strzelnica oferuje profesjonalne, bezpieczne warunki oraz szeroki wybór broni, od pistoletów po karabiny, które pozwalają na doskonalenie umiejętności strzeleckich.
          Idealne miejsce na niezapomniane spotkania, eventy firmowe czy relaks z nutą adrenaliny!
          Dołącz do nas i odkryj moc precyzji! Poniżej przedstawiamy przykładowe ceny amunicji:
        </p>
        <table>
          <tr>
            <th>Kaliber</th>
            <th>Cena</th>
          </tr>
          <tr>
            <td>9 mm</td>
            <td>2,10zł</td>
          </tr>
          <tr>
            <td>5,56x45 mm</td>
            <td>3,10zł</td>
          </tr>
          <tr>
            <td>7,62x39 mm</td>
            <td>3,40zł</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="spacing-container"></div>
    <div class="photo-and-description">
      <div class="description-and-addon">
        <p>
          Strzelnica to nie tylko sport, to także:
        </p>
        <ol>
          <li>pasja</li>
          <li>precyzja</li>
          <li> satysfakcja z osiągania coraz lepszych wyników</li>
        </ol>
        <p>
          Oferujemy specjalne pakiety dla początkujących, które obejmują kompleksowe szkolenie z zasad bezpieczeństwa i obsługi broni,
          jak również atrakcyjne wyzwania dla zaawansowanych strzelców, którzy szukają nowych doświadczeń.
          Nasza nowoczesna infrastruktura i wysokiej jakości sprzęt sprawiają, że każde strzelanie jest bezpieczne, komfortowe i pełne emocji.
          Organizujemy również:
        </p>
        <ul>
          <li>imprezy tematyczne</li>
          <li>wieczory kawalerskie</li>
          <li>firmowe zawody strzeleckie</li>
        </ul>
      </div>
      <img alt="instructor" src="https://static.wixstatic.com/media/8db14c_b21794fc485b49e5bfce763fb0c462cc~mv2.webp/v1/fit/w_267,h_400,q_90/8db14c_b21794fc485b49e5bfce763fb0c462cc~mv2.webp">
    </div>
    <div class="spacing-container"></div>
    <div class="contact" id="contact">
      <h3>Kontakt</h3>
      Polsko Japońska Strzelnica Sportowa<br>
      ul. Koszykowa 86, 02-008 Warszawa<br>
      telefon: (+48) 22 58 44 500<br>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4888.016193032991!2d20.991341732540892!3d52.22507070594763!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecc96ae8df4f5%3A0xfd5f36ad75e9e7f5!2sPolsko-Japo%C5%84ska%20Akademia%20Technik%20Komputerowych!5e0!3m2!1spl!2spl!4v1728644727894!5m2!1spl!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="spacing-container"></div>
  </div>
</div>
